{% extends "layouts/base.html" %}

<!-- Specific Page CSS goes HERE  -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}
<div class="card-tools">
    <h6 class="card-category">
        {% if msg %}
        <span class="text-danger">{{ msg | safe }}</span>
        {% else %}

        {% endif %}
    </h6>
    <button type="button" class="btn btn-rose " data-toggle="modal" data-target=".bd-example-modal-lg">
        <i class="material-icons">request_quote</i> Debitos
    </button>
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel"
         aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="card-header">
                    <h5 class="card-title">Cadastrar Debito</h5>
                </div>
                <h6 class="card-category">
                    {% if msg %}
                    <span class="text-danger">{{ msg | safe }}</span>
                    {% else %}

                    {% endif %}
                </h6>
                <br/>
                <form role="form"  action="{{ url_for('base_blueprint.debito_add') }}" method="post">
                    {{ form.hidden_tag() }}

                     <div class="form-group">
                        <label class="bmd-label-floating">ID Credor</label>
                          {{ form.id_credores(class="form-control", value=id_credores, readonly=readonly) }}
                    </div>

                    <div class="form-group">
                        <label class="bmd-label-floating">Descrição</label>
                        {{ form.descricao(class="form-control") }}
                    </div>

                    <div class="form-group">
                        <label class="bmd-label-floating">Valor</label>
                        {{ form.valor(class="form-control") }}
                    </div>

                    <div class="modal-footer justify-content-between">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                        <button type="submit" name="debito" class="btn btn-primary pull-left">Salvar</button>
                    </div>

                </form>
            </div>
        </div>
    </div>
</div>

<div class="row">

</div>
<div class="row">

    <div class="card">
        <div class="card-header card-header-rose">
            <h4 class="card-title">Debito</h4>

        </div>
        <div class="card-body table-responsive">
            <table class="table table-hover">
                <thead class="text-danger">
                <th>ID</th>
                <th>Descricao</th>
                <th>Valor</th>
                </thead>
                <tbody>

                {% for debito in debitos %}
                <tr>
                    <td>{{debito.id}}</td>
                    <td>{{debito.descricao}}</td>
                    <td>{{debito.valor}}</td>
                </tr>
                 {% endfor %}
            </table>
        </div>
    </div>
</div>
</div>

{% endblock content %}

<!-- Specific Page JS goes HERE  -->
{% block javascripts %}

<script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/js/demos.js
      md.initDashboardPageCharts();

    });

</script>

{% endblock javascripts %}
